.card
    h5.card-header Movie : #{booked.moviename}
    .card-body
        h5.card-title Theater : #{booked.theatrename}
        h5.card-text  Show Timing : #{booked.showtime}
        h5.card-text  Booking Time : #{booked.bookingtime}